html, body {
  height: 100%;
  & > div {
    height: 100%;
    height: 100vh;
  }
}

.appBarCenterGrow {
  padding-left: 1rem;
  font-size: 2rem;
  flex-grow: 10000;
}

.mainContainer {
  flex: 1;
  overflow-y: auto;
  padding: 1.8rem;
}
.sidebar{
  flex:1;
}