@import '../../global.scss';

.appBarCenterGrow {
  padding-left: 1rem;
  font-size: 2rem;
  flex-grow: 1;
  text-align: center;
  margin-right: 3.8rem;//Center and offset hamburger icon
}

.mainContainer {
  flex: 1;
  overflow-y: auto;
}

.mainWrapper {
  height: 100%;
  width: 100%;
}

.sidebar {
  margin-top: -0.8rem;
  flex: 1;
}

.activeLink {
  font-weight: bolder;
  color: #4078c0;
}

.followMeIcons {
  padding: 1rem;
  font-size: 16px;
  &:hover {
    background-color: rgba(21, 21, 21, .5);
  }
}



