.pageNotFound {
  padding-top: 4rem;
  text-align: center;
  color: rgb(251, 80, 59);
  min-height: 100%;
  min-width: 100%;
  background-size: 50% 50%;
  background-image: url('../../../images/background/404.svg');
  background-repeat: no-repeat;
  background-position: center;
}