.homeContainer {
  height: 100%;
  overflow-y: auto;
  &:before {
    content: ' ';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .2;
    background-image: url('./../../../images/background/code-sublime.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    filter: blur(2px);
  }
}

.computerBackground {
  background-image: url('./../../../images/background/computer.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 30%;
  content: '  '
}

.profile {
  padding: 10px;
  text-align: center;
  margin: auto;
  padding-top: 5%;
  img {
    height: 30vh;
    width:auto;
    border-radius: 50%;
  }
  .profileDescription {
    font-family: montserrat;
    & p {
      font-size: 2rem;
    }
  }
}