.contactContainer {
  text-align: center;
  :global {
    .text-primary {
      color: #428bca;
    }
  }
  a{
    color: #428bca;
  }
  .email {
    padding: 5rem;

  }
  .phoneNumber {
    padding: 5rem;
  }
}